@import url('https://fonts.googleapis.com/css?family=Roboto');

$primary-font: 'Roboto', sans-serif;
$color-black: #000;
$color-white: #fff;
$color-dark-gray: #686c6f;
$color-dark-blue: #003b49;
$color-orange: #f38b00;
$color-red: #ff0000;